repos:
-   repo: local
    hooks:
    -   id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]

    -   id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --features integration --no-deps -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

    -   id: cargo-test
        name: cargo test
        entry: cargo test --features integration
        language: system
        types: [rust]
        pass_filenames: false

    -   id: ast-grep
        name: ast-grep
        entry: ast-grep scan
        language: system
        types: [rust]
        pass_filenames: false
